:root {
  /* Brand Colors */
  --color-primary: #2ea9a1; /* UNSC Teal */
  --color-secondary: #c4a046; /* Mjolnir Gold */
  --color-accent-blue: #4aa8ff; /* Energy Sword Blue */
  --color-accent-purple: #8240ff; /* Plasma Purple */

  /* Backgrounds */
  --bg-main: #0e1a2a; /* Slipspace Navy */
  --bg-secondary: #1f2e3c; /* UNSC Steel */
  --bg-card: #2e3e49; /* Forerunner Gray */

  /* Text */
  --text-main: #e8ecf0;
  --text-secondary: #a7b3be;
  --text-dark: #0b0f14;

  /* States */
  --hover-primary: #39c2b9;
  --hover-secondary: #d7b25a;
  --hover-link: #6bc2ff;

  --border-soft: #3c4a56;
  --shadow-black: rgba(0, 0, 0, 0.2);

  --unsc-transition-fast: 0.2s;
  --unsc-transition-normal: 0.3s;
  --unsc-transition-slow: 0.4s;
  --unsc-border-radius: 12px;
  /* verde oliva claro para hover */
  --unsc-border-radius: 0.5rem;
}


.Autor-main {
    margin: 10rem;
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    /* fila: imagen a la izquierda, texto a la derecha */
    flex-wrap: wrap;
    /* para responsividad en pantallas pequeñas */
    align-items: flex-start;
    /* alinear arriba la imagen y texto */
    justify-content: center;
    gap: 2rem;
    /* espacio entre imagen y texto */
    padding: 2rem;
    background-color: var(--bg-main);
    height: 100%;
}

.imagenLado {
    flex: 0 0 250px;
}

.imagenLado>img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    margin: .3rem;
    font-size: 2rem;
    color: var(--text-main);
}

h2 {
    padding: .3rem;
    font-size: 1.5rem;
    color:var(--text-dark)
}

.derecha {
    flex: 1;
    /* ocupa todo el espacio restante */
    padding: 1rem;
}

p {
    width: 40%;
    font-size: 1rem;
    color: var(--text-secondary);
    line-height: 1.5;
}