/* Para el Contenedor Fab */
@keyframes cortanaPulse {
    0% { 
        box-shadow: 0 0 10px rgba(74, 168, 255, 0.4); 
        transform: scale(1);
    }
    50% { 
        box-shadow: 0 0 20px rgba(74, 168, 255, 0.9); /* Brilla más */
        transform: scale(1.05); /* Respiración sutil */
    }
    100% { 
        box-shadow: 0 0 10px rgba(74, 168, 255, 0.4); 
        transform: scale(1);
    }
}

/* Para el Avatar (Imagen) */
@keyframes holographicGlitch {
    0% { transform: translate(1px, 1px); }
    20% { transform: translate(-1px, 0px); }
    40% { transform: translate(0px, 1px); }
    60% { transform: translate(1px, -1px); filter: brightness(1.3); } /* Pequeño destello */
    80% { transform: translate(-1px, 0px); }
    100% { transform: translate(0px, -1px); }
}